*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 1500px;
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.lang{
    padding-right: 25px;
    line-height: 80px;
    float: left;
}
.lang select{
    background-color: lightgrey;
}
.contatti a{
    text-decoration: none;
    float: left;
    border-left: 1px solid black;
    line-height: 80px;
    padding-left: 25px;
    color: black;
}
.buttons{
    float: right;
}
.buttons a{
    text-decoration: none;
    line-height: 80px;
    margin-right: 25px;
}
.login, .register{
    margin: 0 10px;
    padding: 5px;
    border-radius: 4px;
}
.login{
    color: rgb(252, 118, 29);
    border: 1px solid rgb(252, 118, 29);
}
.register{
    color: white;
    background-color: rgb(252, 118, 29);
    border: 1px solid rgb(252, 118, 29);
}
.reg2{
    padding: 15px;
}
.logo{
    float: left;
    line-height: 80px;
}
.logo img{
    vertical-align: middle;
}
.menu{
    float: right;
    line-height: 80px;
}
.menu select, .lang select{
    border: none;
}
.menu select, .menu a{
    margin: 0 29px;
}
.left h1{
    font-weight: bold;
    font-size: 3rem;
    padding: 50px 0;
}
.left p{
    font-weight: bolder;
    font-size: 1rem;
    padding: 30px 0;
    line-height: 30px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.left{
    width: 50%;
}
.jumbotron{
    background-image: url(img/jumbotron.png);
    background-size: 80% 114%;
    background-repeat: no-repeat;
    height: 641px;
    background-position-x: 100%;
}
.boxcentrale img{
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
.boxcentrale h2, .boxcentrale p{
    text-align: center;
}
.boxcentrale p{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}
.boxcentrale{
    padding: 40px;
}
.left1{
    width: 35%;
    float: left;
    padding: 40px;
}
.left div{
    width: 100%;
}
.left1 div img{
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}
.left1 div  button{
    position: relative;
    width: 250px;
    left: 50%;
    display: block;
    margin: 30px 0;
    transform: translateX(-50%);
}
.right1{
    padding: 40px;
    width: 60%;
    /* uso float ma non sono certo sia corretto visto che nella colonna sinistra ho usato position */
    float: LEFT;
}
.right1 h3{
    font-weight: bold;
    padding: 0 0 30px 0;
    display: inline-block;
}
.right1 p{
    padding: 30px 0;
}
.line{
    display: inline-block;
    width: 400px;
    /* line-height: 50px; */
    vertical-align: middle;
    margin: 0 20px;
    /* float: left; */
}
.check p{
    display: inline-block;
    margin-right: 30px;
}
.crm{
    border-radius: 4px;
    padding: 30px;
}
.row{
    width:  30%;
    float: left;
    text-align: center;
    padding: 20px 30px;
    border-radius: 4px;
}
.center{
    margin: 0 5% 0 5%;
}
.row img{
    width: 50%;
    height: 170px;
}
.row h3, .row p, .row img, .row button{
    padding: 25px;
}
.row button {
    margin: 25px 0;
}
.row div p{
    text-align: left;
    padding: 0;
}
.colonne{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.parteblu{
    color: white;
    text-align: center;
    padding: 2.5% 0;
}
.parteblu h2, .parteblu p{
    padding: 30px;
}
.parteblu h2{
    padding-top: 0;
    font-weight: bold;
}
.colonneblu{
    width: 25%;
    float: left;
}
.colonneblu h1{
    font-weight: bold;
    font-size: 3rem;
}
.border-top{
    border-top: 1px solid white;
}
.colonneblu div{
    padding: 20px 0;
}
.border-center{
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.loghi div{
    width: 25%;
    height: 80px;
    float: left;
}
.loghi div img{
    width: 80%;
    line-height: 80px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.left1 h1{
    font-size: 4rem;
    font-weight: bold;
}
.left1 h1, .left1 p{
    padding-left: 50px;
}
.left1 p{
    padding-top: 25px;
    line-height: 30px;
}
.col{
    width: 40%;
}
.colonnatext{
    padding: 25px 0;
    display: inline-block;
}
.colonnatext h1{
    font-size: 2.5rem;
}
.colonnatext p, .colonnatext h1, .colonnatext button{
    padding: 25px 0;
}
.colonnatext button{ 
    width: 200px;
}
.colonnaimg{
    float: right;
}
.colonnaimg img{
    position: relative;
    right: -30%;
    width: 55%;
}
.colonneblu h3{
    padding-top: 30px;
}
.colonneblu a{
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 30px;
}
.colonneblu button{
    padding: 10px;
    margin: 30px 0;
    color: rgb(0, 43, 83);
    border: 0px solid white;
    background-color: white;
    border-radius: 4px;
}
.container ul li{
    margin: 20px;
    margin-top: 40px;
    display: inline-block;

}
.lingue{
    text-align: center;
}
/* .linkfin{
    padding: 25px 0;
    width: 200px;
    float: right;
} */
.barrafin{
    margin: 25px 0;
}
.barrafin a{
    float: right;
    text-decoration: none;
    color: white;
}




/* urility classes */
.border{
    border: 1px solid black;
}
.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}
.h-500{
    height: 500px;
}
.w-100{
    width: 100px;
}
.b-black{
    background-color: black;
}
.b-grey{
    background-color: lightgrey;
}
.b-rosa{
    background-color: #FEF6EE;
}
.b-verde{
    background-color: #AFEBE4;
    height: 80px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.b-white{
    background-color: white;
}
.b-blu{
    background-color: rgb(29, 238, 203);
}
.b-bluscuro{
    background-color: rgb(0, 43, 83);
    color: white;
}